Repository hostingbydesign/docs.hostingby.design, pull requests merged in 2023-02, with the labels that each got.

#6 docs(community-apps): update links
  docs/appslots/community-applications/filebrowser.mdx
  docs/appslots/community-applications/lounge.mdx
  docs/appslots/community-applications/overseerr.mdx
  docs/appslots/community-applications/requestrr.mdx
  sidebars.js
Labels: documentation, community-apps

#7 fix(docs): Replaced dead links
  docusaurus.config.js
Labels: documentation

#9 docs: update all broken panel links
  docs/appslots/applications/jellyfin.mdx
  docs/appslots/guides/mktorrent.mdx
  docs/getting-started/introduction-c.mdx
  docs/getting-started/login-details.mdx
  docs/home.md
  docs/shared-storage/administration/location.mdx
  docs/shared-storage/administration/renewal.mdx
  docs/shared-storage/administration/upgrade-seedbox.mdx
  docs/shared-storage/snippets/ticket.mdx
  docs/shared-storage/troubleshooting/reroute.mdx
Labels: documentation

#11 chore: remove sbio legacy docs
  docs/assets/legacy-bouncer-servers-1.png
  docs/assets/legacy-bouncer-servers-2.png
  docs/assets/legacy-bouncer-servers-3.png
  docs/assets/legacy-bouncer-servers-4.png
  docs/assets/legacy-bouncer-servers-5.png
  docs/assets/legacy-slow-ftp-0.png
  docs/assets/legacy-slow-ftp-1.png
  docs/shared-storage/administration/available-space.mdx
  docs/shared-storage/administration/backup.mdx
  docs/shared-storage/administration/change-password.mdx
  docs/shared-storage/administration/location.mdx
  docs/shared-storage/administration/public-trackers.mdx
  docs/shared-storage/administration/renewal.mdx
  docs/shared-storage/administration/restart-seedbox.mdx
  docs/shared-storage/administration/unmetered-bw.mdx
  docs/shared-storage/administration/upgrade-seedbox.mdx
  docs/shared-storage/applications/connect-openvpn.mdx
  docs/shared-storage/applications/connect-sonarr.mdx
  docs/shared-storage/applications/kodi.mdx
  docs/shared-storage/applications/remoteadder.mdx
  docs/shared-storage/applications/rutorrent-plugins.mdx
  docs/shared-storage/applications/torrentcontrol.mdx
  docs/shared-storage/applications/transdroid.mdx
  docs/shared-storage/applications/using-webinterface.mdx
  docs/shared-storage/file-access/bouncer.mdx
  docs/shared-storage/file-access/connect-ftp.mdx
  docs/shared-storage/file-access/fxp.mdx
  docs/shared-storage/file-access/lftp.mdx
  docs/shared-storage/file-access/mount-service.md
  docs/shared-storage/file-access/resilio-sync.mdx
  docs/shared-storage/snippets/ticket.mdx
  docs/shared-storage/troubleshooting/multiple-torrents.mdx
  docs/shared-storage/troubleshooting/ratio.mdx
  docs/shared-storage/troubleshooting/reroute.mdx
  docs/shared-storage/troubleshooting/slow-ftp.mdx
  docs/shared-storage/troubleshooting/webinterface.mdx
  sidebars.js
Labels: documentation

#13 docs(appslots): add extra bw pricing
  docs/appslots/getting-started/bandwith.mdx
Labels: documentation, app slots

#14 docs(application): rename appslots
  docs/application-hosting/applications/autodl.mdx
  docs/application-hosting/applications/basics.mdx
  docs/application-hosting/applications/bazarr.mdx
  docs/application-hosting/applications/btsync.mdx
  docs/application-hosting/applications/deluge.mdx
  docs/application-hosting/applications/emby.mdx
  docs/application-hosting/applications/jackett.mdx
  docs/application-hosting/applications/jellyfin.mdx
  docs/application-hosting/applications/lidarr.mdx
  docs/application-hosting/applications/medusa.mdx
  docs/application-hosting/applications/nzbget.mdx
  docs/application-hosting/applications/ombi.mdx
  docs/application-hosting/applications/plex-tunnel.mdx
  docs/application-hosting/applications/plex.mdx
  docs/application-hosting/applications/qbittorrent.mdx
  docs/application-hosting/applications/radarr.mdx
  docs/application-hosting/applications/rtorrent.mdx
  docs/application-hosting/applications/sabnzbd.mdx
  docs/application-hosting/applications/sonarr.mdx
  docs/application-hosting/applications/tautulli.md
  docs/application-hosting/applications/wireguard.mdx
  docs/application-hosting/community-applications/filebrowser.mdx
  docs/application-hosting/community-applications/lounge.mdx
  docs/application-hosting/community-applications/overseerr.mdx
  docs/application-hosting/getting-started/abuse.mdx
  docs/application-hosting/getting-started/bandwith.mdx
  docs/application-hosting/getting-started/box-basics.mdx
  docs/application-hosting/getting-started/dashboard.md
  docs/application-hosting/getting-started/ftp-bouncer.mdx
  docs/application-hosting/getting-started/how-do-i-connect.md
  docs/application-hosting/guides/d2r.md
  docs/application-hosting/guides/flexget.md
  docs/application-hosting/guides/kodi.mdx
  docs/application-hosting/guides/mktorrent.mdx
  docs/application-hosting/guides/systemd.md
  docs/application-hosting/snippets/clients.mdx
  docs/application-hosting/snippets/community.mdx
  docs/application-hosting/snippets/systemdtabs.mdx
  docs/application-hosting/snippets/usersystemd.mdx
  docs/pre-sales/support-scope.mdx
  sidebars.js
Labels: documentation, application-hosting
